#nav {
	position: fixed;
	z-index: 999;
	top: 60px;
	margin: 0;
	padding: 0;
	opacity: 0.4;
	background: #000;
	width: 100%;
	height: auto;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			position: relative;
			display: block;
			padding: 0 0 0 3%;
			width: 100%;
			$height: 1.1em;
			height: $height;
			line-height: $height;
			opacity: 1;
			span {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 0%;
				height: $height;
				background: #00FF00;
				opacity: 0.5;
				transition: all 0.3s ease;
			}

			$hoverOpacity: 1;
			.homeLink span {
				background: #00D9FF;
				opacity: $hoverOpacity;
			}
			.artistLink span {
				background: #FF9600;
				opacity: $hoverOpacity;
			}
			.missionLink span {
				background: #00FF26;
				opacity: $hoverOpacity;
			}
			.contactLink span {
				background: #FC449A;
				opacity: $hoverOpacity;
			}
			
			&:hover span {
				width: 100%;
			}

			a:link, a:visited {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}