
@import "nav";
@import "typography";





$bgImage: url(../img/navy_blue.png);

body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#home {
	margin: 0;
	padding:0;
	width: 100%;
	background: rgba(0,0,0,0);
	background: $bgImage repeat top left fixed; // http://www.subtlepatterns.com for the .png
	h1 {
		position: relative;
		top: 40%;
		margin: 0;
		padding: 0;
	}
}

.pageAnchor {
	position: relative;
	top: -10em;
}
.homeAnchor {
	position: absolute;
	top: 0;
}

.page h2, .home h1 {
	position: relative;
	right: 10%;
	margin: 30px 0;
	padding: 0;	
}


#artists .artist, #mission p, #contact p {
	width: 80%;
	margin: 0 auto;
}

#artists {
	h3 {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.artist {
		float: left;
		position: relative;
		left: 10%;
		// overflow-x: scroll;
	}
	.bio, .release {
		margin: 0 0 1em 1em;
	}
	.releases {
		overflow-x: scroll;
	}
	.release {
		float: left;
		position: relative;
		width: 100%;
		min-width: 900px;
		height: 350px;
		overflow: auto;
		img {
			float: left;
			margin: 0;
			padding: 0;
			width: 30%;
			height: auto;
		}
		.releaseInfo {
			float: left;
			// width: auto;
			// min-width: 50%;
			padding-left: 2em;
			position: relative;
		}
		.tracks {
			margin: 0;
			padding-left: 3em;
			width: 100%;
			li {
				margin-bottom: 2px;
			}
			.trackInfo {
				float: right;
				display: block;
			}
			.duration {
				display: inline-block;
			}
			.controls {
				display: inline-block;
				width: 2.7em;
				margin-left: 0.3em;
				cursor: pointer;
				border: 1px solid #000;
				text-align: center;
				line-height: 1em;
			}
		}
	}
}

#mission {
	clear: both;
}

#footer {
	background: $bgImage repeat top left fixed;
	margin: 0;
	padding: 0 10% 0 0;
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			padding-left: 0.7em;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
}

@media all and (max-device-width: 480px) {

	// LOAD HIGHER RES BG PNG
	body {
		font-size: 3em;
	}
	// #artists .release {
	// 	width: 300px;
	// 	max-width: 300px;
	// 	height: 310px;
	// 	img {
	// 		width: 100%;
	// 	}
	// }
}
